.cartIcon {
    position: fixed;
    bottom: 25px;
    right: 30px;
    background: #007bff;
    color: white;
    padding: 12px 16px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 4rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.2s ease-in-out;
  }
  .cartIcon:hover {
    transform: scale(1.15); /* zoom in slightly on hover */
  }
  
  .cartPopup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 400px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .cartList {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .cartList li {
    display: flex;
    justify-content:space-between;
    margin-bottom: 8px;
  }
  
  .orderBtn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .closeBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
  }

/* for the quantity control buttons */
.quantityControls {
  display: flex;
  align-items:center;
  /* justify-content:space-evenly; */
  gap: 0.5rem;
}

.quantityControls button {
  padding: 2px 8px;
  font-size: 1rem;
  cursor: pointer;
}

.removeBtn {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: red;
}

  