/* EditProductModal.module.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .closeButton {
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #424242;
  }

  .modalContent p{
    color:#d1d100;
    font-size: 1.2rem;
  }
  
  .modalContent h2 {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
    text-align: center;
    color: #d1d100;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
  }
  
  .formGroup label {
    margin-bottom: 0.4rem;
    font-weight: 500;
  }
  
  .formGroup input,
  .formGroup textarea {
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .saveBtn {
    background-color: rgb(1, 165, 1);
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
  }
  
  .saveBtn:hover {
    background-color: #037b0f;
  }
  
  .cancelBtn {
    background-color: #e2e8f0;
    color: #333;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  
  .cancelBtn:hover {
    background-color: #cbd5e1;
  }

  /* image css */
  .imageSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .previewImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    border: 1.5px solid #d1d100;
  }
  
  .imageUploadLabel {
    background-color: #d1d100;
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.9rem;
    color: rgb(90, 90, 90);
    transition: background 0.2s ease;
  }
  
  .imageUploadLabel:hover {
    background-color: #ffb301;
  }
  
  .hiddenInput {
    display: none;
  }

  /* drop down styling */

  .selectField {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #d1d100;
    color: rgb(90, 90, 90);
  }
  
  