.container {
    padding: 2rem;
  }
  
  .orderCard {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background: #fafafa;
  }
  
  .itemList ul {
    padding-left: 1.2rem;
  }
  
  .loading {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  .acceptBtn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.acceptBtn:hover {
  background-color: #218838;
}

  