.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: linear-gradient(155deg, #e9eec2, #d8ce00);
    min-height: calc(100vh - 70px); /* accounting for navbar */
  }
  
  .form {
    background-color: rgb(90, 90, 90);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    color: #c2c200;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 25px;
    color: #d1d100;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #c2c200;
  }
  
  input[type="file"] {
    padding: 6px;
    border: none;
    background-color:rgb(90, 90, 90);
  }
  
  .submitBtn {
    width: 100%;
    padding: 12px;
    background-color:#d1d100 ;
    color: rgb(94, 94, 94);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .submitBtn:hover {
    background-color:  #ffb301;
  }
  